#tabela{
  border-radius: 17%;
}

.tg  {
  border-collapse:collapse;
  border-spacing:0;
  margin-top: 0px;
  margin-left: 0px;

}

.tg td{border-color:black;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;
  padding:10px 10px;
  word-break:normal;}

.tg th{border-color:black;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 10px;
  word-break:normal;}

.tg .tg-y191{
  background-color:#9698ed;
  border-color:#ffffff;
  color:#000000;
  font-weight:bold;
  text-align:center;
  vertical-align:middle
}

.tg .tg-vpdf{
  background-color:#cbcefb;
  border-color:#ffffff;
  color:#000000;
  font-weight:bold;
  text-align:center;
  vertical-align:middle}

.tg .tg-w8mo{
  background-color:#7c1be2;
  border-color:#ffffff;
  color:#000000;
  font-weight:bold;
  text-align:center;
  vertical-align:middle}