/*  NavBar -------------------------------------------------*/

.navbar {
    background: linear-gradient(to right, #e5dcff, #290044);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo{
    padding-left: 40px;
}

.logo img {
    max-height: 30px;
}

.links{
    display: flex;
    flex-direction: row;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.links .theme {
    padding: 10px !important;
   text-align: center;
    color: white;
}


.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.menu-btn {
    display: none;
    background-color: #a82a49;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.link-item {
    transition: transform 0.3s, background-color 0.3s; 
    padding: 5px;
}

.link-item:hover {
    transform: scale(1.05); 
    background-color: #72008f; 
    cursor: pointer;
}

.link-item a {
    display: flex; 
    align-items: center; 
    text-decoration: none;
    color: #fff;
}

.link-item .icon{
    margin-right: 10px; 
}

.selected-item{
    background-color: #290044;
}

@media (max-width: 768px) {
    .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        background: linear-gradient(to right, #290044, #bea2d1);
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.5s ease, transform 0.5s ease; 
    }

    .link-item:hover {
        transform: none; 
        background-color: #72008f; 
        cursor: pointer;
    }

    .links.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .links a {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        transition: background 0.3s;
    }

    .menu-icon {
        display: block;
    }

    .menu-btn {
        display: block;
    }
}

/*----------------------------------------------------------*/

/*  Card -------------------------------------------------*/

.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.card-image {
    flex: 1;
    max-width: 150px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    flex: 2;
    padding: 10px;
    background-color: #e7daff;
}

.card-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}


/* Scroll bar*/

body::-webkit-scrollbar {
    width: 12px;               
}

body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(40, 0, 65);    
    border-radius: 0px;   
}

/*##############################################################################*/
/* Estilização default do footer*/
/*##############################################################################*/

.footer-bar {
    background-color: #333;
    color: #fff;
    padding: 50px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, #060114, #330552);
    z-index: 10;
    position: relative;

}

.footer-info{
    width: 50%;
    
}

.footer-contact{
    width: 30%;
    margin-bottom: 40px;
}

.footer-copy{
    width: 100%;
    background: rgba(0, 0, 0, 0.356);
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    text-align: left;
    max-width: 500px;
    text-align: center;

}

.footer-section p
{
    padding: 15px 0px;
}


.footer-section img {
    max-width: 100px;
}

.socials-footer a {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 10px;
}

.logo img {
    max-height: 30px;
}


.footer-contact h2{
    padding-bottom: 20px;
}

.contact{
    padding-bottom: 20px;
}


.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-contact form input
{
    margin-bottom: 10px;
}

.contact-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}

.btn {
    display: inline-block;
    background-color: #e31b6d;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}

.btn-big {
    font-size: 1.2rem;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
}


.footer-default {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(19, 2, 18) 3%, rgb(52, 23, 54) 38%, rgb(58, 2, 53) 68%, rgb(49, 7, 83) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

.popup-container-footer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    padding: 125px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 15;
}

.popup-content-footer {
    text-align: center;
}

.popup-button-footer {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #33002f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.popup-button-footer:hover {
    background-color: #500035;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@media (max-width: 768px) {
    .footer-bar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }

    .footer-info{
        width:100%;
        padding: 20px;
        
    }
    
    .footer-contact{
        width: 100%;
       padding: 20px;
    }

    .footer-section {
        max-width: 100%;
    }
    
}

/*##############################################################################*/



/*##############################################################################*/
/* Estilização default de todas páginas*/
/*##############################################################################*/


.nav-default{

}

.main-default{
    min-height: calc(100vh - 40px);
}

.footer-default{

}
/*##############################################################################*/



/*##############################################################################*/
/* Estilização de validações*/
/*##############################################################################*/


.valid {
    background-color: rgb(196, 214, 196);
    border-color: rgb(0, 161, 0);
}

.invalid {
    background-color: rgb(214, 196, 196);
    border-color: rgb(202, 1, 1);
}

.invalid-text{
    background-color: rgb(214, 196, 196);
    border: 1px solid red;
    padding: 5px;
    display: none;
}

/*##############################################################################*/



/*##############################################################################*/
/* Estilização do background animação*/
/*##############################################################################*/


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    height: 100%;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{ 
    position: absolute;
    top: 100px;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    z-index: -1;
    height: 100%;
}

.circles{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s alternate infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 00%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 0s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(11){
    left: 0%;
    width: 300px;
    height: 300px;
    animation-delay: 0s;
    animation-duration: 26s;
}

.circles li:nth-child(12){
    left: 10%;
    width: 250px;
    height: 250px;
    animation-delay: 0s;
    animation-duration: 28s;
}


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
        border-radius: 10%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 80%;
    }

}

/*##############################################################################*/
