.usuario-container{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.usuario {
    width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(251, 245, 255);
}

.usuario-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.usuario-tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #220042;
    color: #fff;
    border: none;
}

.usuario-tab:hover{
    background-color: #41007e;
}

.usuario-tab-content {
    display: none;
}

.usuario-tab-content.active {
    display: block;
}

.usuario-form-group {
    margin-bottom: 15px;
}

.usuario-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.usuario-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.usuario-button {
    width: 100%;
    padding: 10px;
    background-color: #10552d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.usuario-button:hover{
    background-color: #1a914b;
}