<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../assets/img/icon-tab-site.png" type="image/png">

        <!--Importando o css principal da página-->
        <link rel="stylesheet" href="../assets/css/main.css">
        
        <!--Importando o css dessa página -->
        <link rel="stylesheet" href="../assets/css/atleta.css">
        <!--Importando os icones da página-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-LC6sr0ChMgFKzV4ERQi5V2NKKsFPPfYbXju0d4MyI3LNxOZu9DyPl5ftTRbIZbNf" crossorigin="anonymous">
        
        <!--Importando fontes da página-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        
        <title>FUTBR</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="logo">
                <img src="../assets/img/logo.png" alt="Logo">
            </div>
            <button class="menu-btn">&#9776; Menu</button>
            <div class="links">
                <div class="link-item selected-item"><a href="#"><i class="fas fa-home"></i> Home</a></div>
                <div class="link-item"><a href="#"><i class="fas fa-newspaper"></i> Notícias</a></div>
                <div class="link-item"><a href="#"><i class="fa-solid fa-trophy"></i> Jogos</a></div>
                <div class="link-item"><a href="#"><i class="fa-solid fa-shield-halved"></i></i> Times</a></div>
                <div class="link-item"><a href="#"><i class="fas fa-user"></i> Usuário</a></div>
            </div>
        </nav>
        
        <section>
            <div>
                <article id="historico"><h1>historico<h1>
                    <div> <p><img src="https://escudosfc.com.br/images/vasco.png" alt="Vasco" style="width: 35px;">  0 X 0  <img src="https://escudosfc.com.br/images/fluminense.png" alt="Fluminense" style="width: 35px;"></p></div>
                    <div> <p><img src="https://escudosfc.com.br/images/corinthians.png" alt="corinthians" style="width: 35px;">  0 X 0  <img src="https://escudosfc.com.br/images/cruzeiro.png" alt="cruzeiro" style="width: 35px;"></p></div>
                    <div> <p><img src="https://escudosfc.com.br/images/saopaulo.png" alt="sao paulo" style="width: 35px;">  0 X 0  <img src="https://escudosfc.com.br/images/gremio.png" alt="gremio" style="width: 35px;"></p></div>
                    <div> <p><img src="https://escudosfc.com.br/images/ceara.png" alt="Ceara" style="width: 35px;">  0 X 0  <img src="https://escudosfc.com.br/images/bragantino.png" alt="bragantino" style="width: 35px;"></p></div>
                    <div> <p><img src="https://escudosfc.com.br/images/bahia.png" alt="Bahia" style="width: 35px;">  0 X 0  <img src="https://escudosfc.com.br/images/atletico.png" alt="atleticoM" style="width: 35px;"></p></div>
                    <div> <p><img src="https://escudosfc.com.br/images/palmeiras.png" alt="palmeiras" style="width: 35px;">  0 X 0  <img src="https://escudosfc.com.br/images/atlpr.png" alt="atleticoPR" style="width: 35px;"></p></div>
                    <div> <p><img src="https://escudosfc.com.br/images/santos.png" alt="Santos" style="width: 35px;">  0 X 0  <img src="https://escudosfc.com.br/images/ammg.png" alt="americaM" style="width: 35px;"></p></div>
                </article>
                <article id="estatistica"><h1>estatistica</h1>
                    <table>
                        <tbody>
                            <tr><th>Gol</th><td>5</td></tr>
                            <tr><th>Média</th><td>1.5</td></tr>
                            <tr><th>Assistencia</th><td>4</td></tr>
                            <tr><th>Vitorias</th><td>4</td></tr>
                            <tr><th>Derrotas</th><td>1</td></tr>
                            <tr><th>Empates</th><td>0</td></tr>
                            <tr><th>Faltas</th><td>2</td></tr>
                        </tbody>
                    </table>
                </article>
                <article id="noticias"> <h1>Notícias</h1>
                    <a href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.oddsshark.com%2Fsites%2Fdefault%2Ffiles%2F2022-12%2FCalend%25C3%25A1rio%2520Do%2520Futebol%2520Brasileiro%25202023.jpg&tbnid=RKIWSI7oc4euhM&vet=10CBkQMyhzahcKEwjo7p3m7rmBAxUAAAAAHQAAAAAQAw..i&imgrefurl=https%3A%2F%2Fwww.oddsshark.com%2Fbr%2Ffutebol%2Fcalendario-do-futebol-brasileiro-2023&docid=UVl-boPwVAX5wM&w=1600&h=984&q=not%C3%ADcias%20do%20futebol%20brasileirao%202023&ved=0CBkQMyhzahcKEwjo7p3m7rmBAxUAAAAAHQAAAAAQAw"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6u9yoRvg_e9Dj_APibDY5XKlrp2f3UNY34JOiIcVWvFwon4ODsb_pkOOdcF52cliLwAE&usqp=CAU" ></a>    
                    <a href="https://images.app.goo.gl/ndZJ3htvusnncSW36"><img src="https://lncimg.lance.com.br/uploads/2023/07/53048681286_a5197ecd87_c-aspect-ratio-512-320.jpg" alt=""></a>
                    <a href="https://images.app.goo.gl/gon6nS3sSny68eQZA"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS1Ye_s3sLo7a6iDZKnqNPncTYNs6cN9c0iQ&usqp=CAU"></a>
                </article>
                <article id="comentarios">
                    <h1>comentarios</h1>
                    <h3>SEM COMENTARIOS NO MOMENTO</h3>
                </article>    
            </div>
            <article id="Proximos_jogos">
                <header><h1>Próximos jogos</h1></header>
                <div>
                    <h1>Campeonato em recesso</h1>
                </div>
            </article>
        </section>
        
        <section class="destaques">
            <h2>Destaques</h2>
    
            <div class="cards-container-destaques">
                <div class="card">
                    <img src="../assets/img/news-europa.png" alt="Imagem 1">
                    <h3>Destaque 1</h3>
                </div>
    
                <div class="card">
                    <img src="../assets/img/news-europa.png" alt="Imagem 1">
                    <h3>Destaque 2</h3>
                </div>
    
                <div class="card">
                    <img src="../assets/img/news-europa.png" alt="Imagem 1">
                    <h3>Destaque 3</h3>
                </div>
                <div class="card">
                    <img src="../assets/img/news-europa.png" alt="Imagem 1">
                    <h3>Destaque 3</h3>
                </div>
                <div class="card">
                    <img src="../assets/img/news-europa.png" alt="Imagem 1">
                    <h3>Destaque 3</h3>
                </div>
            </div>
        </section>

        
        <script src="../assets/js/main.js"></script>
        <!--Importando os icones da página-->
        <script src="https://kit.fontawesome.com/017bd8e266.js" crossorigin="anonymous"></script>
    </body>
</html>