<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../assets/img/icon-tab-site.png" type="image/png">

        <!--Importando o css principal da página-->
        <link rel="stylesheet" href="../assets/css/main.css">
        <link rel="stylesheet" href="../assets/css/jogos.css">
        
        <!--Importando os icones da página-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-LC6sr0ChMgFKzV4ERQi5V2NKKsFPPfYbXju0d4MyI3LNxOZu9DyPl5ftTRbIZbNf" crossorigin="anonymous">
        
        <!--Importando fontes da página-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <script src="../assets/js/components.js" defer></script>
        <script src="../assets/js/main.js" defer></script>
        <script src="../controller/controller.js" defer></script>
        <script src="../controller/homePage.js" defer></script>
  
        <title>FUTBR</title>
    </head>
    <body>

        <main class="jogos-home-page">
           
            <div class="jogos-container">
                <div class="jogos-main-section">
                    <h1>Time A vs Time B</h1>
                </div>
                <div class="jogos-news-section">
                    <h2>PARTIDA</h2>
                    <div class="jogos-news-list">
                        <div class="jogos-card">
                            <div class="jogos-card-image">
                                <img src="../assets/img/escudo-da-equipe.png" alt="Escudo da equipe">
                            </div>
                            <div class="jogos-card-content">
                                <h3>TIME A</A></h3>
                                
                            </div>
                        </div>

                        <div class="jogos-versus-card-image">
                            <img src="../assets/img/versus.png" alt="logo">
                        </div>

                        <div class="jogos-card">
                            <div class="jogos-card-image">
                                <img src="../assets/img/escudo-da-equipe.png" alt="Escudo da equipe">
                            </div>
                            <div class="jogos-card-content">
                                <h3>TIME B</h3>
                            </div>
                        </div>
                    </div>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eaque sunt obcaecati vel atque sint ipsa accusamus quasi ab laborum qui, ratione suscipit odio architecto fugit magni nesciunt et neque.</p>
                
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eaque sunt obcaecati vel atque sint ipsa accusamus quasi ab laborum qui, ratione suscipit odio architecto fugit magni nesciunt et neque.</p>
                </div>
            </div>
        </main>
       
        <!--Importando os icones da página-->
        <script src="https://kit.fontawesome.com/017bd8e266.js" crossorigin="anonymous"></script>
    </body>
</html>

    